@font-face {
    font-family: "NT Somic";
    src: url("./fonts/NTSomic-Bold.woff2") format("woff2");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "NT Somic";
    src: url("./fonts/NTSomic-Medium.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "NT Somic";
    src: url("./fonts/NTSomic-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    color: white;
    line-height: 100%;
    letter-spacing: 0;
    box-sizing: border-box;
    font-family: "NT Somic", sans-serif;
    -ms-overflow-style: none;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
::-webkit-scrollbar-track {
    background: #1e1e1e;
}
::-webkit-scrollbar-thumb {
    background: #444;
    border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: url("./icons/bg.png") #333 center / cover no-repeat;
    z-index: -1;
}

.logo {
    font-size: 28px;
    font-weight: 700;
    display: flex;
    gap: 16px;
    align-items: center;
    cursor: pointer;
}

button {
    color: white;
    font-size: 16px;
    font-weight: 600;
    padding: 12px 16px;
    background: none;
    border: none;
    cursor: pointer;
    transition: 0.3s all;
}
button.main {
    border-radius: 999px;
    border: 2px solid #a8de7c;
    background: #cff5b1;
}
button.main:hover {
    background: #cef5b1bd;
}
button.secondary {
    color: #eaffda;
    background: #0d7c65;
    border-radius: 999px;
}
button.secondary:hover {
    background: #0d7c66a9;
}

.extra-info {
    padding: 4px 8px;
    font-size: 14px;
    color: #0d7c65;
    text-transform: uppercase;
    background: #cff5b1;
    border-radius: 4px;
}

.menu-item {
    position: relative;
    background: #2c2c2c;
    width: 400px;
    height: 250px;
    padding: 30px;
    border-radius: 10px;
    cursor: pointer;
}
.menu-item:hover {
    background: #1e1e1e;
    transition: 0.3s all;
}

.tabs button {
    width: 100px;
    border-radius: 8px;
    border: 2px solid #a8de7c;
}
.tabs button.active {
    color: #0d7c65;
    background: #cff5b1;
}

.arrow.down {
    transform: rotate(180deg);
}
.arrow.left {
    transform: rotate(270deg);
}
.arrow.right {
    transform: rotate(90deg);
}

.measure {
    padding: 5px;
    font-size: 15px;
    border-radius: 4px;
    background: #2c2c2c;
}

.component-item {
    padding: 12px 0;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ffffff1c;
}

/* ------------ Filter styles ------------ */

.filters {
    display: flex;
    gap: 16px;
    margin: 1rem 0;
    padding: 1rem;
    border-radius: 4px;
    background: #1e1e1e;
}
.filters form {
    margin: 0;
    padding: 0;
    width: fit-content;
    flex-direction: row;
}
.filters button {
    border-radius: 50%;
}
.filters button:hover {
    background: rgba(255, 255, 255, 0.075);
}

/* ------------ Table styles ------------ */
.table-container {
    max-height: 70vh;
    max-width: 100%;
    overflow: auto;
    border: 1px solid #444;
    border-radius: 4px;
}

.dark-table {
    width: 100%;
    border-collapse: collapse;
    color: #fff;
    background-color: #2c2c2c;
}

.dark-table thead th {
    position: sticky;
    top: 0;
    background-color: #1e1e1e;
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #444;
}

.dark-table tbody td {
    padding: 12px;
    border-bottom: 1px solid #444;
}

.dark-table tbody tr:hover {
    background-color: #3a3a3a;
}

/* ------------ Modal styles ------------ */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    background: rgba(0, 0, 0, 0.6);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}
.modal.show {
    display: flex;
}

.modal-content {
    background-color: #1e1e1e;
    padding: 24px;
    min-width: 500px;
    display: flex;
    gap: 12px;
    flex-direction: column;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

/* ---------------- Input styles ---------------- */

form {
    margin-top: 2rem;
    padding: 1.5rem;
    width: 60%;
    display: flex;
    gap: 16px;
    flex-direction: column;
    background: #1e1e1e;
    border-radius: 8px;
}

label {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-size: 14px;
    color: #ccc;
}

select,
input:not([type="checkbox"]) {
    width: 100%;
    height: 50px;
    min-width: 200px;
    color: white;
    padding: 14px;
    font-size: 16px;
    border-radius: 4px;
    background: #2c2c2c;
    border: none;
}

input:disabled {
    background-color: #444;
    cursor: not-allowed;
}

input[type="checkbox"] {
    height: 20px;
    width: 20px;
}

.toggle-password {
    position: absolute;
    right: 15px;
    bottom: 10px;
}

.select-container {
    height: 50px;
    position: relative;
    display: inline-flex;
}

.select-container select {
    padding-right: 2rem;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}

.select-container::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 12px;
    width: 0;
    height: 0;
    pointer-events: none;
    transform: translateY(-50%);
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 6px solid #fff; /* your arrow color */
}

#helper-panel {
    display: none;
}